<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/book.png" />
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    </head>

    <body>
        <div class="main-content">
            {{>header}}

            <p>For help send an email to {{email}}</p>
        </div>
        {{>footer}}
    </body>
</html>