<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/book.png" />
    <meta charset="utf-8">
    <link rel="shortcut icon" type="imagem/x-icon" href="../img/book.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/books.css">
    <link rel="stylesheet" type="text/css" href="/css/icon.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
    {{> header}}

    <div class="main-content">
        <form>
            <div class="d-flex flex-row-reverse align-items-center">
                <div class="col-sm-4 col-md-4">
                    <label for="inputBook" class="form-label">Use this site to search for free books!</label>
                    <input class="p-2" type="text" placeholder="The theory of everything" class="form-control"
                        id="inputBook">
                    <button class="p-2" type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
            <div class="d-flex flex-row-reverse align-items-center">
                <div class="col-sm-4 col-md-4">
                   <p id="message-1"></p>
                </div>
            </div>
        </form>
    </div>
    <script src="/js/showBooks.js"></script>
</body>
{{> footer}}

</html>