<body>
    {{> header}}

    <div class="main-content">
        <form>
            <div class="d-flex flex-row-reverse align-items-center">
                <div class="col-sm-4 col-md-4">
                    <label for="inputBook" class="form-label">Use this site to search for free books!</label>
                    <input class="p-2" type="text" placeholder="The theory of everything" class="form-control"
                        id="inputBook">
                    <button class="p-2" type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
            <div class="d-flex flex-row-reverse align-items-center">
                <div class="col-sm-4 col-md-4">
                    <p id="message-1"></p>
                </div>
            </div>
        </form>
    </div>

    <main role="main">
        {{#each data}}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src={{this.imgSrc}} width="200px" height="300px" alt="book cover">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{this.bookName}}</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><a href={{this.bookLink}} class="btn btn-primary my-2">Download</a></p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        </div>
        </div>
    </main>
    {{> footer}}
    <!--<script src="/js/showBooks.js"></script> -->
</body>