<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">SOBRE</h4>
                    <p class="text-muted">Quanto menos comes, bebes, compras livros e vais ao teatro, pensas, amas,
                        teorizas, cantas, sofres, praticas esporte, etc., mais economizas e mais cresce o teu
                        capital.
                        És menos, mas tens mais. Assim todas as paixões e actividades são tragadas pela cobiça.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <svg class="icon icon-earth mr-1 mt-1">
                    <use xlink:href="#icon-earth">
                        <symbol id="icon-earth" viewBox="0 0 32 32">
                            <path d="M16.565,11.591L16.288,11.4l13.11-1.422l-0.017-0.146l-13.279,1.44l-0.231-0.158l13.261-1.45l-0.018-0.147l-13.431,1.469
			l-0.255-0.175l13.467-1.49L28.88,9.174l-13.637,1.508l-0.284-0.195L28.6,8.97l-0.016-0.146l-13.811,1.535l-0.308-0.211
			l0.441-0.046L28.94,8.575L28.425,7.85L13.078,9.476v0.222v0.592v19.545l2.78,1.962v0.016l14.527-1.475l0.003-20.15L16.565,11.591z
			 M27.791,18.977l-8.382,0.855v-4.46l8.382-0.854V18.977z">
                            </path>
                        </symbol>
                    </use>
                </svg>
                <strong id="title"><a href="/">Search Books</a></strong>
            </a>
            <div class="col-sm-3 col-md-3 py-4">
                <a class="menuOpt" href="/">Search book</a>
            </div>
            <div class="col-sm-3 col-md-3 py-4 menuOpt">
                <a class="menuOpt" href="/about">About</a>
            </div>
            <div class="col-sm-3 col-md-3 py-4 menuOpt">
                <a class="menuOpt" href="/help">Help</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>